---

---

<section class="w-full px-[15px] md:px-[30px] py-[30px] max-w-[1200px] mx-auto">
  <h2 class="text-primary text-center text-[22px] md:text-[26px] font-bold my-[20px] md:my-[30px]">
    BALI GRAND TOUR
  </h2>

  <div class="text-center mb-[50px] max-w-[800px] mx-auto space-y-4 leading-relaxed text-[14px] md:text-[16px]">
    <p>
      Bali Grand Tour is a leading tour operator dedicated to bringing the best of Bali's beauty, culture, and adventure to travelers from around the world. With a deep passion for this enchanting island, we offer meticulously crafted one-day tours that allow you to explore Bali's most iconic and hidden destinations. Our mission is to provide unforgettable experiences that capture the essence of Bali, from its lush landscapes and serene temples to its vibrant local culture.
    </p>
    <p>
      With Bali Grand Tour, you're not just visiting Bali—you're experiencing it in a way that leaves lasting memories.
      Join us and discover why Bali is truly a paradise on earth.
    </p>
  </div>
</section>
