---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}favicon.svg`} />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.png`} />
    <meta name="description" content="Bali Grand Tour is a leading tour operator dedicated to bringing the best of Bali's beauty, culture, and adventure to travelers from around the world." />
    <meta property="og:title" content="Bali Grand Tour" />
    <meta property="og:description" content="Explore Bali's most iconic and hidden destinations with our meticulously crafted one-day tours." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sinar-bonar.github.io/bali-grand-tour/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet" />
    <title>Bali Grand Tour</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <slot />
  </body>
</html>
